body {
	background-color: #000;
}

.active {
	color: #9d1953;
}

.custom-container {
	max-width: 1280px;
	margin: 0 auto;
}

.c-primary {
	color: #9d1953;
}

.c-default {
	color: #fff;
}

.btn-custom {
	background-color: #bd1c63;
	padding: 12px 12px;
}

.btn-transparent {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 2px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
}

.c-arrow {
	background-color: #c72e75;
}

.navbar {
	align-items: baseline;
}

.navbar .navbar-collapse {
	text-align: right;
}

.navbar .navbar-collapse .custom-navbar-nav {
	flex-direction: row;
	padding: 0;
}

.navbar .navbar-collapse .custom-navbar-nav li.active a {
	color: #9d1953;
}

.navbar .navbar-collapse .custom-navbar-nav li {
	display: inline-block;
	padding: 0 8px;
}

.navbar .navbar-collapse .custom-navbar-nav li a {
	color: #fff;
	font-size: 12px;
}

.navbar .navbar-toggler {
	background-color: #000;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar .navbar-toggler .icon-bar {
	background-color: #fff;
}

.content-logo {
	display: inline-block;
}

.content-logo-exma {
	border-right: 2px solid #b0346d;
	padding-right: 10px;
}

.content-text-header {
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	margin-top: 4px;
}


.content-welcome h1, .content-welcome h2 {
	display: inline-block;
	color: #fff;
}

.content-welcome h1 {
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase;
}

.content-welcome h2 {
	float: right;
	font-size: 35px;
	text-transform: uppercase;
	text-align: right;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 15px;
}

.content-men, .content-men-experience {
	background-position: center;
	background-repeat: no-repeat;
	height: 480px;
	position: relative;
}

.content-men .content-btn, .content-men-experience .content-btn {
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: flex-end;
}

.content-men .content-btn .btn-details, .content-men-experience .content-btn .btn-details {
	margin-bottom: 120px;
}

.content-men .content-category, .content-men-experience .content-category {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}

.content-list {
	padding: 5px;
	width: 100%;
}

.content-list ul {
	padding: 0;
	list-style: none;
}

.content-list ul li {
	color: #fff;
	font-size: 13px;
}

.content-list ul li img {
	width: 13px;
	height: 13px;
}

.content-men .content-category .category, .content-men-experience .content-category .category {
	font-size: 100px;
	color: #fff;
	text-transform: uppercase;
}

.men-1 {
	background-image: url('img/men-1.png');	
	background-size: 100% 100%;
}

.men-2 {
	background-image: url('img/men-2.png');	
	background-size: 100% 100%;	
}

.men-3 {
	background-image: url('img/men-3.png');	
	background-size: 100% 100%;	
}

.men-4 {
	background-image: url('img/men-4.png');	
	background-size: 100% 100%;	
}

.bc-experience-1 {
	background-color: #e72b78;
}

.bc-experience-2 {
	background-color: #f9b000;
}

.bc-experience-3 {
	background-color: #2ca5de;
}

.experience-1 {
	background-image: url('img/experience-1.png');
	background-size: cover;
	margin: 0 50px;
}

.experience-2 {
	background-image: url('img/experience-2.png');
	background-size: cover;
	margin: 0 50px;
}

.experience-3 {
	background-image: url('img/experience-3.png');
	background-size: cover;
	margin: 0 50px;
}

.content-btn-buy {
	text-align: center;
	margin: 0 50px;
}

.btn-buy {
	padding: 6px 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 26px;
	width: 100%;
}

/* modal */ 
.modal-benefiets .modal-content {
	border: 0;
	border-radius: 0;
	background-color: transparent;
}

.modal-benefiets .modal-content .modal-header {
	display: block;
	text-align: right;
	padding: 10px;
	position: absolute;
	right: 0;
	z-index: 9;
}

.modal-benefiets .modal-content .modal-header .btn-close {
	background-color: transparent;
	padding: 0;
}

.modal-benefiets .modal-content .content-banner {
	background-image: url('img/banner-modal.png');
}

.modal-benefiets .modal-content .modal-footer {
	text-align: center;
	display: block;
}

.modal-benefiets .modal-content .modal-footer .btn-buy-modal {
	padding: 6px 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 18px;
}

@media (max-width: 767px) {
	.mt-50 {
		margin-top: 50px;
	}

	.navbar .navbar-collapse .custom-navbar-nav li {
		display: block;
		margin: 5px 0;
	}

	.navbar .navbar-collapse .custom-navbar-nav li:last-child {
		display: flex;
		float: right;
	}

	.navbar .navbar-brand img {
		width: 80px;
	}

	.content-info {
		display: block;
	}

	.content-welcome h1, .content-welcome h2 {
		display: block;
	}

	.content-welcome h1 {
		font-size: 36px;
		text-align: center;
	}

	.content-welcome h2 {
		text-align: center;
		float: none;
		font-size: 16px;
	}

	.content-men {
		height: 260px;
	}

	.men-1 {
		background-image: url('img/men-1-mobile.png');	
	}

	.men-2 {
		background-image: url('img/men-2-mobile.png');	
	}

	.men-3 {
		background-image: url('img/men-3-mobile.png');	
	}

	.men-4 {
		background-image: url('img/men-4-mobile.png');	
	}
	.content-men .content-btn .btn-details {
		margin-bottom: 20px;
		font-size: 14px;
	}

	/* Page experience*/

	.content-men-experience .content-category .content-list {
		display: none;
	}

	.content-men-experience {
		height: 200px;
		margin-bottom: 15px !important;
	}

	.experience-1 {
		background-image: url('img/experience-1-mobile.png');		
	}

	.btn-buy {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.content-men-experience .content-category .category {
		font-size: 50px;
	}

	.modal-benefiets .modal-content .modal-header .btn-close img {
		width: 20px;
	}
}

/* Version Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
	
	.navbar .navbar-collapse .custom-navbar-nav li {
		display: block;
		margin: 5px 0;
	}

	.navbar .navbar-collapse .custom-navbar-nav li:last-child {
		display: flex;
		float: right;
	}

	.navbar .navbar-brand img {
		width: 80px;
	}

	.content-info {
		display: block;
	}

	.content-welcome h1, .content-welcome h2 {
		display: block;
	}

	.content-welcome h1 {
		font-size: 36px;
		text-align: center;
	}

	.content-welcome h2 {
		text-align: center;
		float: none;
		font-size: 16px;
	}

	.content-men {
		height: 260px;
	}

	.content-men .content-btn .btn-details {
		margin-bottom: 20px;
		font-size: 14px;
	}

	/* page experiencia*/
	.content-men-experience {
		margin: 0;
	}
	.content-men-experience .content-category .category {
		font-size: 50px;
	}
	.content-btn-buy {
		margin: 0;
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-collapse {
	    display: -webkit-box!important;
	    display: -ms-flexbox!important;
	    display: inline-block !important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}