.body {
	background-color: #f09f21;
	height: 100vh;
	color: #fff;
	background-image: url('img/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
}
@font-face {
	font-family: "Archer";
	src: url("fonts/Archer-Book-pro.otf");
}

@font-face {
	font-family: "Bebas Neue";
	src: url("fonts/BebasNeue-Bold.otf");
}

.font-weight-bold {
	font-weight: bold;
}

.m-1, .m-2, .m-3, .m-4, .m-5 {
	margin: 0px !important;
}

.c.block {
	display: block;
}

.c-flex {
	display: flex !important;
}

.b-top-modal {
	border-top:1px solid orange;
}

.c-none {
	display: none;
}

.title {
	padding: 50px 0px 50px 50px;
}

.sub-title {
	margin-left: 50px;
	padding-top: 50px;
}

.sub-title p {
	font-size: 27px;
	line-height: 28px;
	color: #ffffff;
	font-family: "Archer";
	font-weight: bold;
	max-width: 70%;
	display: inline-block;
	text-align: left;
}

.signature {
	padding-top: 40px;
}

.signature h4 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 34px;
	color: #ffffff;
	font-family: "Bebas Neue";
	font-weight: 700;
	text-align: right;
}

.signature h6 {
	font-size: 10px;
	line-height: 10px;
	color: #ffffff;
	font-family: "Archer";
	text-align: right;
	text-transform: uppercase;
}

.content-form {
	background-color: #16d098;
	margin: 20px 0;
}

.content-form .form {
	padding: 40px;
}

.content-form .form p {
	font-size: 13px;
	line-height: 15px;
	font-family: "Avenir";
	font-weight: 800;
	text-align: center;
	margin: 20px 0;
}

.content-form .form input {
	margin-bottom: 25px;
}

.content-form .form .group-input {
	margin-bottom: 30px;
}

.content-form .form .content-btn {
	text-align: right;
}

.content-form .form .content-btn .btn-send {
	width: 50%;
	background-color: #f09f21;
	color: #fff;
}

.content-form .form .content-logo-form .content-logo {
	display: inline-block;
	width: 48%;
}

.content-form .form .content-logo-form .content-logo.border-r {
	border-right: 1px solid #f09f21;
}

.content-form .form .content-text-logo {
	margin-bottom: 50px;
}

.content-form .form .content-btns {
	text-align: center;
	max-width: 60%;
	margin: 0 auto;
}

.content-form .form .content-btns .btn {
	text-transform: uppercase;
	width: 100%;
	background-color: #f09f21;
	font-size: 10px;
	color: #fff;
	margin-bottom: 20px;
	padding: 10px 20px;
}

body {
	background-color: #000;
}

.active {
	color: #9d1953;
}

.custom-container {
	max-width: 1280px;
	margin: 0 auto;
}

.c-primary {
	color: #9d1953;
}

.c-default {
	color: #fff;
}

.btn-custom {
	background-color: #bd1c63;
	padding: 12px 12px;
}

.btn-transparent {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 2px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px;
}

.c-arrow {
	background-color: #c72e75;
}

.navbar {
	align-items: baseline;
}

.navbar .navbar-collapse {
	text-align: right;
}

.navbar .navbar-collapse .custom-navbar-nav {
	flex-direction: row;
	padding: 0;
}

.navbar .navbar-collapse .custom-navbar-nav li.active a {
	color: #9d1953;
}

.navbar .navbar-collapse .custom-navbar-nav li {
	display: inline-block;
	padding: 0 8px;
}

.navbar .navbar-collapse .custom-navbar-nav li a {
	color: #fff;
	font-size: 12px;
}

.navbar .navbar-toggler {
	background-color: #000;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar .navbar-toggler .icon-bar {
	background-color: #fff;
}

.content-logo {
	display: inline-block;
}

.content-logo-exma {
	border-right: 2px solid #b0346d;
	padding-right: 10px;
}

.content-text-header {
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	margin-top: 4px;
}

.content-welcome {
	margin: 0 20px;
}

.content-welcome h1, .content-welcome h2 {
	display: inline-block;
	color: #fff;
}

.content-welcome h1 {
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase;
}

.content-welcome h2 {
	float: right;
	font-size: 35px;
	text-transform: uppercase;
	text-align: right;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 15px;
	font-family: "Archer";
}

.content-men, .content-men-experience {
	background-position: center;
	background-repeat: no-repeat;
	height: 480px;
	position: relative;
}

.content-men .content-btn, .content-men-experience .content-btn {
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: flex-end;
}

.content-men .content-btn .btn-details, .content-men-experience .content-btn .btn-details {
	margin-bottom: 120px;
}

.content-men .content-btn .content-arrow {
	text-align: center;
	margin-top: 60px;
}

.content-men .content-btn .content-arrow  img {
	width: 60px;
}

.content-men .content-category, .content-men-experience .content-category {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}

.content-category:hover .exp-1, .content-category:hover .exp-2 {
	display: none;
}

.content-category:hover .show-benefiets {
	display: flex;
}

.show-benefiets {
	width: 100%;
	display: none;
    align-items: center;
    height: 100%;
    justify-content: center;
    cursor: pointer;
}

.content-list {
	padding: 5px;
	width: 100%;
}

.content-list h3 {
	font-family: "Bebas Neue";
}

.content-list ul {
	padding: 0;
	list-style: none;
}

.content-list ul li {
	color: #fff;
	font-size: 13px;
}

.content-list ul li img {
	width: 20px;
	height: 20px;
}

.content-men .content-category .category, .content-men-experience .content-category .category {
	font-size: 100px;
	color: #fff;
	text-transform: uppercase;
	font-family: "Bebas Neue";
}

.men-1 {
	background-image: url('img/speakers/desktop/men-1.png');	
	background-size: 100% 100%;
}

.men-2 {
	background-image: url('img/speakers/desktop/men-2.png');	
	background-size: 100% 100%;	
}

.men-3 {
	background-image: url('img/speakers/desktop/men-3.png');	
	background-size: 100% 100%;	
}

.men-4 {
	background-image: url('img/speakers/desktop/men-4.png');	
	background-size: 100% 100%;	
}

.men-5 {
	background-image: url('img/speakers/desktop/men-5.png');	
	background-size: 100% 100%;	
}

.men-6 {
	background-image: url('img/speakers/desktop/men-6.png');	
	background-size: 100% 100%;	
}

.men-7 {
	background-image: url('img/speakers/desktop/men-7.png');	
	background-size: 100% 100%;	
}

.men-8 {
	background-image: url('img/speakers/desktop/men-8.png');	
	background-size: 100% 100%;	
}

.men-9 {
	background-image: url('img/speakers/desktop/men-9.png');	
	background-size: 100% 100%;	
}

.men-10 {
	background-image: url('img/speakers/desktop/men-10.png');	
	background-size: 100% 100%;	
}

.men-11 {
	background-image: url('img/speakers/desktop/men-11.png');	
	background-size: 100% 100%;	
}

.bc-experience-1 {
	background-color: #e72b78;
}

.bc-experience-2 {
	background-color: #f9b000;
}

.bc-experience-3 {
	background-color: #2ca5de;
}

.experience-1 {
	background-image: url('img/experience/desktop/experience-1.png');
	background-size: cover;
	margin: 0 50px;
}

.experience-2 {
	background-image: url('img/experience/desktop/experience-2.png');
	background-size: cover;
	margin: 0 50px;
}

.experience-3 {
	background-image: url('img/experience/desktop/experience-3.png');
	background-size: cover;
	margin: 0 50px;
}

.content-btn-buy {
	text-align: center;
	margin: 0 50px;
}

.btn-buy {
	padding: 6px 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 26px;
	width: 100%;
	font-family: "Bebas Neue";
}

 .btn-buy:hover {
 	color: #fff;
 }

/* modal */ 
.modal-benefiets .modal-content {
	border: 0;
	border-radius: 0;
	background-color: transparent;
}

.modal-benefiets .modal-content .modal-header {
	display: block;
	text-align: right;
	padding: 10px;
	position: absolute;
	right: 0;
	z-index: 9;
}

.modal-benefiets .modal-content .modal-header .btn-close, .modal-speaker .modal-dialog .modal-header .btn-close{
	background-color: transparent;
	padding: 0;
}

.modal-benefiets.modal-oro .modal-content .content-banner {
	background-image: url('img/banner-modal.png');
}

.modal-benefiets.modal-vip .modal-content .content-banner {
	background-color: #e72b78;
}

.modal-benefiets.modal-plata .modal-content .content-banner {
	background-color: #2ca5de;
}


.modal-benefiets .modal-content .modal-footer {
	text-align: center;
	display: block;
}

.modal-benefiets .modal-content .modal-footer .btn-buy-modal {
	padding: 6px 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 18px;
}

/* Carousel*/

.carousel.slide.items {
	padding: 0 50px;
}
.carousel-control-prev {
	width: 8%;
	padding-right: 60px;
}

.carousel-control-next {
	width: 8%;
	padding-left: 60px;
}

.carousel-control-prev-icon {
	background-image: none;
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;	
	border-right: 20px solid #c72e75;
}

.carousel-control-next-icon {
	background-image: none;
	width: 0;
	height: 0;
  	border-top: 20px solid transparent;
  	border-bottom: 20px solid transparent;
  	border-left: 20px solid #c72e75;
}

.show-mobile {
	display: none;
	margin: 0;
}

.h-modal.modal-open .modal, .h-modal .modal-backdrop.show{
	display: none !important;
}

.h-modal.modal-open {
	overflow: auto;
	padding-right: 0 !important;
}

/* Modal Speaker**/
.modal-speaker .modal-dialog {
	max-width: 900px;
}

.modal-speaker .modal-dialog .modal-content {
	background-color: #212120;
}

.modal-speaker .modal-dialog .modal-header {
	position: absolute;
	right: 0;
	z-index: 4;
}

.modal-speaker .modal-dialog .modal-body {
	padding: 0;
}

.modal-speaker .modal-dialog .modal-body .carousel-item .content-info-speaker {
	padding: 90px 20px;	
	color: #fff;
}

.modal-speaker .modal-dialog .modal-body .carousel-item .content-info-speaker hr {
	border-top: 1px solid #D47F1D;
	height: 1px;
}

.modal-speaker .modal-dialog .modal-body .carousel-item .content-info-speaker h1 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	right: 85px;
	color: #fff;
}

.modal-speaker .modal-dialog .modal-body .carousel-item .content-info-speaker .text-infor {
	overflow: auto;
	height: 265px;
	text-align: justify;
	padding: 0 15px;
	color: #fff;
	font-size: 12px;
}

.modal-speaker .modal-dialog .modal-body .carousel-item .content-btn-more {
	position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: right;
    padding-right: 35px;
}

.modal-speaker .modal-dialog .modal-body .carousel-item .content-btn-more .btn-more {
	padding: 6px 24px;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	border-radius: 0;
	border: 0;
	color: #fff;
	background-color: #e72b78;
	width: 160px;
}

.modal-speaker .modal-dialog .modal-body .carousel-control-prev, .modal-speaker .modal-dialog .modal-body .carousel-control-next {
	width: 4%;
	padding: 0;
}

.modal-speaker .modal-dialog .modal-body .carousel-control-prev .carousel-control-prev-icon {
	border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #c72e75;
}

.modal-speaker .modal-dialog .modal-body .carousel-control-next .carousel-control-next-icon {
	border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #c72e75;
}

#modal-plata, #modal-oro, #modal-vip {
	display: none !important;
}

@media (max-width: 767px) {

	.carousel.slide.items {
		display: none;
	}

	.content-category:hover .exp-1, .content-category:hover .exp-2 {
		display: block;
	}

	.content-category:hover .show-benefiets {
		display: none !important;
	}

	.show-mobile {
		display: flex;
	}
	.body {
		height: auto;
	}
	.title {
		padding: 15px;
	}

	.title h2 {
		font-size: 16px;
	}

	.sub-title {
		padding-top: 0;
	}

	.sub-title p {
		font-size: 14px;
		line-height: 20px;
		max-width: 80%;
	}

	.signature {
		padding-top: 0;
	}

	.signature h4 {
		font-size: 18px;
		margin-bottom: 0;
	}

	.signature h6 {
		margin-top: 0;
		font-size: 10px;
	}

	.content-form .form {
		padding: 20px;
	}

	.content-form .form p {
		font-size: 10px;
	}

	.carousel.slide.item {
		display: none;
	}
	.mt-50 {
		margin-top: 30px;
	}

	.navbar .navbar-collapse .custom-navbar-nav li {
		display: block;
		margin: 5px 0;
	}

	.navbar .navbar-collapse .custom-navbar-nav li:last-child {
		display: flex;
		float: right;
	}

	.navbar .navbar-brand img {
		width: 80px;
	}

	.content-info {
		display: block;
	}

	.content-welcome h1, .content-welcome h2 {
		display: block;
	}

	.content-welcome h1 {
		font-size: 36px;
		text-align: center;
	}

	.content-welcome h2 {
		text-align: center;
		float: none;
		font-size: 16px;
	}

	.content-men {
		height: auto;
	}

	.men-1 {
		background-image: url('img/speakers/mobile/men-1.png');	
		background-size: 100% 100%;
	}

	.men-2 {
		background-image: url('img/speakers/mobile/men-2.png');	
		background-size: 100% 100%;	
	}

	.men-3 {
		background-image: url('img/speakers/mobile/men-3.png');	
		background-size: 100% 100%;	
	}

	.men-4 {
		background-image: url('img/speakers/mobile/men-4.png');	
		background-size: 100% 100%;	
	}

	.men-5 {
		background-image: url('img/speakers/mobile/men-5.png');	
		background-size: 100% 100%;	
	}

	.men-6 {
		background-image: url('img/speakers/mobile/men-6.png');	
		background-size: 100% 100%;	
	}

	.men-7 {
		background-image: url('img/speakers/mobile/men-7.png');	
		background-size: 100% 100%;	
	}

	.men-8 {
		background-image: url('img/speakers/mobile/men-8.png');	
		background-size: 100% 100%;	
	}

	.men-9 {
		background-image: url('img/speakers/mobile/men-9.png');	
		background-size: 100% 100%;	
	}

	.men-10 {
		background-image: url('img/speakers/mobile/men-10.png');	
		background-size: 100% 100%;	
	}

	.men-11 {
		background-image: url('img/speakers/mobile/men-11.png');	
		background-size: 100% 100%;	
	}
	.content-men .content-btn .btn-details {
		margin-bottom: 20px;
		font-size: 6px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.content-men .content-btn .pb-4 {
		padding-bottom: 10px !important;
		padding-top: 50px;
	}

	.content-men .content-btn .content-arrow {
		margin-top: 10px;
	}

	.content-men .content-btn .content-arrow img {
		width: 20px;
	}

	/* Page experience*/

	.content-men-experience .content-category .content-list {
		display: none;
	}

	.content-men-experience {
		height: 300px;
		margin-bottom: 15px !important;
	}

	.experience-1 {
		background-image: url('img/experience/mobile/experience-1-mobile.png');		
	}

	.experience-2 {
		background-image: url('img/experience/mobile/experience-2-mobile.png');
		background-size: cover;
		margin: 0 50px;
	}

	.experience-3 {
		background-image: url('img/experience/mobile/experience-3-mobile.png');
		background-size: cover;
		margin: 0 50px;
	}

	.btn-buy {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.content-men-experience .content-category .category {
		font-size: 50px;
	}

	.modal-benefiets .modal-content .modal-header .btn-close img {
		width: 20px;
	}
	/* modal*/

	.h-modal.modal-open .modal.show, .h-modal .modal-backdrop.show{
		display: block !important;
	}
	.modal-speaker .modal-dialog .modal-body .carousel-item img {
		height: 100%;
	}

	.modal-speaker .modal-dialog .modal-body .carousel-item .content-info-speaker {
		position: relative;
		right: 100px;
		width: 230px;
		padding: 80px 0;
	}

	.modal-speaker .modal-dialog .modal-body .carousel-item .content-info-speaker h1 {
		font-size: 19px;
		right: 0;
	}

	.modal-speaker .modal-dialog .modal-body .carousel-item .content-info-speaker p {
		font-size: 12px;
	}

	.modal-speaker .modal-dialog .modal-body .carousel-control-prev, .modal-speaker .modal-dialog .modal-body .carousel-control-next {
		padding: 0;
	}

	.modal-speaker .modal-dialog .modal-body .carousel-item .content-info-speaker .text-infor {
		height: 140px;		
	}
	.modal-speaker .modal-dialog .modal-body .carousel-item .content-btn-more {
		bottom: 20px;
		left: -50px;
	}
}

/* Version Tablet */
@media (min-width: 768px) and (max-width: 1023px) {

	.mt-50 {
		margin-top: 40px;
	}
	.carousel.slide.items {
		display: none;
	}
	.show-mobile {
		display: flex;
	}
	.content-form .form .content-logo-form .content-logo {
		display: block;
		width: 100%;
		text-align: center;
	}
	.content-form .form .content-logo-form .content-logo.border-r {
		border: 0;
		margin-bottom: 10px;
	}
	
	.navbar .navbar-collapse .custom-navbar-nav li {
		display: block;
		margin: 5px 0;
	}

	.navbar .navbar-collapse .custom-navbar-nav li:last-child {
		display: flex;
		float: right;
	}

	.navbar .navbar-brand img {
		width: 80px;
	}

	.content-info {
		display: block;
	}

	.content-welcome h1, .content-welcome h2 {
		display: block;
	}

	.content-welcome h1 {
		font-size: 36px;
		text-align: center;
	}

	.content-welcome h2 {
		text-align: center;
		float: none;
		font-size: 16px;
	}

	.content-men .content-btn .btn-details {
		margin-bottom: 20px;
		font-size: 14px;
	}

	/* page experiencia*/
	.content-men-experience {
		margin: 0;
	}
	.content-men-experience .content-category .category {
		font-size: 50px;
	}
	.content-btn-buy {
		margin: 0;
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-collapse {
	    display: -webkit-box!important;
	    display: -ms-flexbox!important;
	    display: inline-block !important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}